:root {
  --navy-blue: #2e2f42;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --slate: #434455;
  --prgrf: #f4f4fd;
  --white: #ffffff;
  --darkblue: #404bbf;
  --headerclr: #e7e9fc;
  --light-slate: #8e8f99;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== 

.icon-Logo-1 {
  width: 1.857421875em;
}

.icon-Logo-2 {
  width: 1.857421875em;
}

.icon-Logo-3 {
  width: 1.857421875em;
}

.icon-Logo-4 {
  width: 1.857421875em;
}

.icon-Logo-5 {
  width: 1.857421875em;
}

.icon-Logo-6 {
  width: 1.857421875em;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* Header */

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}

.header-logo {
  margin-right: 76px;
}

.page-header {
  border-bottom: 1px solid var(--headerclr);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.address-contacts {
  display: flex;
  gap: 40px;
}

.studio-dark {
  color: var(--navy-blue);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.nav-link,
.nav-link-active {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-active {
  color: var(--darkblue);
}

.nav-link-active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--darkblue);
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--darkblue);
}

.contacts {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--darkblue);
}

/* Section One */

.sct_one-hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/Main/people-office.jpg);
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.sct_one-hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.sct_one-hero-btn {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sct_one-hero-btn:hover,
.sct_one-hero-btn:focus {
  background-color: var(--darkblue);
}

/* Section Two */

.sct_two {
  padding: 120px 0;
}

.sct_two-list {
  display: flex;
  gap: 24px;
}

.sct_two-list-li {
  /* width: 271.5px; */
  width: calc((100% - 3 * 24px) / 4);
}

.sct_two-ttl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.sct_two-prgrf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section Three */

.sct_three {
  padding-bottom: 120px;
}

.sct_three-mainttl,
.sct_four-mainttl,
.sct_five-mainttl {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.sct_three-list {
  display: flex;
  gap: 24px;
}

.sct_three-list-li {
  width: 370px;
}

/* Section Four */

.sct_four {
  background-color: var(--prgrf);
  padding: 120px 0;
}

.sct_four-mainttl {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.sct_four-ttl {
  text-align: center;
  margin-bottom: 8px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.sct_four-list {
  display: flex;
  gap: 24px;
}

.sct_four-list-li {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.personal-info {
  padding: 32px 0;
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: block;
}

.sct_four-prgrf {
  text-align: center;
  margin-bottom: 8px;
}

.personal_social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socialnet_ico {
  width: 40px;
  height: 40px;
}

.socialnet_ico-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnet_ico-link:hover,
.socialnet_ico-link:focus {
  background-color: #404bbf;
}

.snet-ico {
  fill: var(--prgrf);
}

.sct_five {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customer {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer-icon {
  fill: currentColor;
}

/* Footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-dscr {
  margin-right: 120px;
}

.footer-social_networks-prgf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social_networks-list {
  display: flex;
  gap: 16px;
}

.footer-social_networks-list-item {
  width: 40px;
  height: 40px;
}

.footer-social_networks-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social_networks-list-item-link:hover,
.footer-social_networks-list-item-link:focus {
  background-color: #31d0aa;
}

.footer-social_networks-icon {
  fill: var(--prgrf);
}

.footer-sct {
  background-color: var(--navy-blue);
  color: var(--prgrf);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.studio-light {
  color: var(--prgrf);
}

.footer-subscribe-div {
  margin-left: 80px;
}

.footer-prgrf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prgrf);
  max-width: 264px;
  margin-right: 0;
}

.footer-subscribe-prgrf {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}

.footer-subscribe-form-input::placeholder {
  color: var(--white);
}

.footer-subscribe-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.footer-subscribe-button-svg {
  margin-left: 16px;
}

.modal-window-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 120px;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-prgrf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-window-form-div {
  margin-bottom: 8px;
}

.modal-window-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-window-label_div {
  position: relative;
}

.modal-window-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
  border-color: var(--iris);
}

.modal-window-label_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--navy-blue);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus + .modal-window-label_svg {
  fill: var(--iris);
}

.modal-window-form-comment {
  margin-bottom: 16px;
}

.modal-window-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal-window-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  letter-spacing: 0.48px;
}

.modal-window-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-window-form-check {
  margin-bottom: 24px;
}

.modal-window-form-label-userprivacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.userprivacy-span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-userprivacy-check:checked + .modal-window-form-label-userprivacy .userprivacy-span {
  background-color: var(--darkblue);
  border: none;
  fill: var(--prgrf);
}

.userprivacy-link {
  color: var(--iris);
}

.modal-window-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-closebtn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-closebtn:hover,
.modal-window-closebtn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-window-closebtn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-closebtn:hover,
.modal-window-closebtn:focus .modal-window-closebtn-icon {
  fill: #ffffff;
}

/* Portfolio */

.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--prgrf);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--darkblue);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-main_sct {
  padding: 96px 0 120px 0;
}

.portfolio-category {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-projects-li {
  width: calc((100% - 48px) / 3);
}

.list-a {
  display: block;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-a:hover,
.list-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-a:hover .project-image-paragraf {
  transform: translateY(0%);
}

.list-a:focus .project-image-paragraf {
  transform: translateY(0%);
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-image-paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prgrf);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-projects-li img {
  border: 1px solid #e7e9fc;
} */

.project-descr {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  flex-grow: 1;
}

.project-ttl {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.rectangle_principles {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
